
<div class="container"> <!-- wrap in container -->
  {{> hero}} <!-- insert hero/jumbotron partial -->
    {{#if productList}} <!-- check if productList exists -->
      {{#each productList}}
        <div class="prod-container col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <img class="container-image" data-productID="{{productId}} "src="{{imageUrls.lg}}" alt="{{description}}">
          <div class="container-description">{{description}}</div>
          <div class="container-pricing">{{pricing.price.selling}}</div>

          <!-- view more button -->
          <button class="view-more">
            VIEW MORE
          </button>

        </div> <!-- end product container div -->
      {{/each}} <!-- end each loop -->
    {{/if}} <!-- end if statement -->
</div> <!-- end container -->
